[app]
sdk_dir = /Softwares/code/android/sdk
git_download_name = Werb/GankWithZhihu
assembleRelease = False

[dir]
base_file_dir = /Users/surab/Documents/Research/AutoSdk
adb_dir =  /Softwares/platform-tools_r29.0.4-windows/platform-tools/adb
gradle_dir = /Softwares/gradle-5.6.2-all/gradle-5.6.2/bin
dir_name = AutoSecret
code_dir_name = SourceCode
apk_dir_name = Apk
code_zip_name = GankWithZhihu
